body {
  margin: 0;
  font-family: Arial, sans-serif;
}

hr{
    height: 1px;
    background: #E5E5EB;
    border: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav-wrapper {
  width: 100%;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}


.nav {
  background: #fff;
  padding: 10px 0px;
}

.nav-top {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-items.address{
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-item svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.nav-item{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.address{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.phone{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
}

.phone-text-block{
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.phone-number{
    font-size: 20px;
    font-weight: 700;
}

.phone-subtext{
    font-size: 12px;
    color: black;
}

.phone svg{
    flex-shrink: 0;
}

.call-btn {
  margin-left: 100px;
  border: 1px solid green;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 172px;
  height: 40px;
  font-size: 16px;
}

.call-btn:hover {
  background: green;
  color: white;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 12px;
  padding-bottom: 12px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: green;
  transform: scale(1.1);
}

.nav-links{
    max-width: 1200px;
    margin: 0 auto;
}

.schedule-btn {
  margin-left: 104px;
  padding: 8px 16px;
  background: gold;
  border-radius: 20px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.schedule-btn:hover {
  background: white;
  transform: scale(1.1);
  border: 1px solid gold;
}

.socials {
  display: flex;
  gap: 10px;
}

.social {
  border-radius: 50%;
  font-size: 12px;
  transition: 0.3s;
}

.social:hover {
  transform: scale(1.2);
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.modal input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.modal button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
